# Exercici 1

Realitza web scraping d'una p√†gina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

Perform web scraping on a Madrid Stock Exchange page using BeautifulSoup and Selenium.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
# https://www.youtube.com/watch?v=rhnMvvmfBFI

In [3]:
#read url 
url = "https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

In [21]:
#find the table we want to scrape
table = soup.find("table", id = "ctl00_Contenido_tblAcciones")

In [34]:
#get the content
cont = table.find_all("td")

content = list()

for i in cont:
    content.append(i.text)

In [35]:
#name the columns
columns = list(("Name", "Last", "% Diff", "Max", "Min", "Volum", "Cash", "Date", "Time"))

In [25]:
#create a dictionary
dic = {}

#skip every 9 items to separate the different data values
for i in range(9):
    dic[columns[i]] = content[i::9]

In [31]:
#create a dataframe from the dictionary
df = pd.DataFrame(data = dic)
df

,Name,Last,% Diff,Max,Min,Volum,Cash,Date,Time
0,ACCIONA,"180,0000","0,06","181,7000","179,7000",10.187,"1.838,67",31/05/2022,09:28:39
1,ACERINOX,"11,9550","0,08","12,0000","11,8000",218.437,"2.603,18",31/05/2022,09:29:00
2,ACS,"26,8500","0,60","26,8900","26,6200",58.228,"1.557,05",31/05/2022,09:29:07
3,AENA,"141,4500","-0,32","142,3500","140,8500",8.867,"1.256,01",31/05/2022,09:28:02
4,ALMIRALL,"10,5300","-0,19","10,6400","10,5300",28.031,"296,72",31/05/2022,09:20:13
5,AMADEUS,"59,3400","-2,14","59,9600","58,9200",47.648,"2.831,24",31/05/2022,09:29:13
6,ARCELORMIT.,"30,3000","-0,66","30,4550","30,1600",42.289,"1.280,79",31/05/2022,09:28:49
7,B.SANTANDER,"3,0545","-0,76","3,0730","3,0470",2.526.699,"7.720,93",31/05/2022,09:29:08
8,BA.SABADELL,"0,8412","-0,05","0,8500","0,8390",1.741.257,"1.467,58",31/05/2022,09:28:52
9,BANKINTER,"5,9620","-0,10","5,9880","5,9360",158.504,"944,26",31/05/2022,09:29:02
10,BBVA,"5,1120","-0,68","5,1600","5,0960",815.605,"4.182,16",31/05/2022,09:28:44
11,CAIXABANK,"3,3810","-0,65","3,3950","3,3670",1.272.587,"4.304,89",31/05/2022,09:28:57
12,CELLNEX,"41,9500","-0,78","42,4900","41,8700",184.503,"7.771,86",31/05/2022,09:29:05
13,CIE AUTOMOT.,"23,3200","-1,10","23,4000","23,1800",12.422,"289,03",31/05/2022,09:26:16
14,ENAGAS,"21,4300","-0,23","21,5200","21,3600",46.087,"987,57",31/05/2022,09:27:09
15,ENDESA,"20,7500","-0,14","20,9000","20,6800",42.963,"891,51",31/05/2022,09:28:35
16,FERROVIAL,"24,0900","-1,03","24,2700","24,0000",41.752,"1.006,44",31/05/2022,09:26:15
17,FLUIDRA,"24,8600","-1,19","25,1000","24,7400",40.140,"1.000,20",31/05/2022,09:28:19
18,GRIFOLS CL.A,"19,5350","-0,33","19,7200","19,5300",38.928,"763,36",31/05/2022,09:28:58
19,IAG,"1,5325","-3,53","1,5635","1,5200",7.222.907,"11.112,03",31/05/2022,09:28:55
20,IBERDROLA,"11,0900","-0,18","11,1300","11,0600",307.395,"3.409,18",31/05/2022,09:29:05
21,INDITEX,"22,5000","0,04","22,5100","22,3000",128.182,"2.875,31",31/05/2022,09:27:50
22,INDRA A,"10,1900","-0,59","10,2000","10,1500",16.192,"164,73",31/05/2022,09:27:04
23,INM.COLONIAL,"7,6150","-2,18","7,7000","7,6000",46.019,"352,38",31/05/2022,09:27:45
24,MAPFRE,"1,7470","-0,34","1,7570","1,7420",608.852,"1.064,85",31/05/2022,09:28:00
25,MELIA HOTELS,"7,4500","0,00","7,4650","7,4050",53.165,"395,36",31/05/2022,09:29:00
26,MERLIN,"10,5100","-1,22","10,6400","10,4900",32.207,"339,68",31/05/2022,09:27:58
27,NATURGY,"28,0300","-1,30","28,3500","27,9400",37.889,"1.064,92",31/05/2022,09:28:16
28,PHARMA MAR,"72,5800","0,30","72,5800","72,0000",6.021,"435,65",31/05/2022,09:28:30
29,R.E.C.,"19,1450","-0,23","19,2450","19,0750",56.315,"1.078,15",31/05/2022,09:29:12
30,REPSOL,"15,2800","2,93","15,3000","14,9400",1.269.639,"19.239,71",31/05/2022,09:29:06
31,ROVI,"61,4500","-0,97","62,0000","61,4500",2.720,"168,13",31/05/2022,09:28:04
32,SIEMENS GAME,"17,9450","0,25","17,9600","17,8800",414.184,"7.425,84",31/05/2022,09:29:11
33,SOLARIA,"21,6000","-1,64","22,2700","21,2200",172.932,"3.752,31",31/05/2022,09:29:00
34,TELEFONICA,"4,9840","0,63","4,9920","4,9500",1.196.808,"5.948,05",31/05/2022,09:29:07

In [33]:
df.to_csv("precios_sesion_bf.csv", index = False)