# Exercici 1

Realitza web scraping d'una p√†gina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

Perform web scraping on a Madrid Stock Exchange page using BeautifulSoup and Selenium.

In [18]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
# https://www.youtube.com/watch?v=rhnMvvmfBFI

C:\ProgramData\Anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

We will scrape the "Acciones" page from bolsademadrid.es, the page where we can find the current stock exchanges. First, we will use BeautifulSoup and then do the same with Selenium.

In [3]:
#read url 
url = "https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000"
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")

In [21]:
#find the table we want to scrape
table = soup.find("table", id = "ctl00_Contenido_tblAcciones")

In [34]:
#get the content
cont = table.find_all("td")

content = list()

for i in cont:
    content.append(i.text)

In [12]:
#name the columns
columns = list(("Name", "Last", "% Diff", "Max", "Min", "Volum", "Cash", "Date", "Time"))

In [25]:
#create a dictionary
dic = {}

#skip every 9 items to separate the different data values
for i in range(9):
    dic[columns[i]] = content[i::9]

In [31]:
#create a dataframe from the dictionary
df = pd.DataFrame(data = dic)
df

,Name,Last,% Diff,Max,Min,Volum,Cash,Date,Time
0,ACCIONA,"180,0000","0,06","181,7000","179,7000",10.187,"1.838,67",31/05/2022,09:28:39
1,ACERINOX,"11,9550","0,08","12,0000","11,8000",218.437,"2.603,18",31/05/2022,09:29:00
2,ACS,"26,8500","0,60","26,8900","26,6200",58.228,"1.557,05",31/05/2022,09:29:07
3,AENA,"141,4500","-0,32","142,3500","140,8500",8.867,"1.256,01",31/05/2022,09:28:02
4,ALMIRALL,"10,5300","-0,19","10,6400","10,5300",28.031,"296,72",31/05/2022,09:20:13
5,AMADEUS,"59,3400","-2,14","59,9600","58,9200",47.648,"2.831,24",31/05/2022,09:29:13
6,ARCELORMIT.,"30,3000","-0,66","30,4550","30,1600",42.289,"1.280,79",31/05/2022,09:28:49
7,B.SANTANDER,"3,0545","-0,76","3,0730","3,0470",2.526.699,"7.720,93",31/05/2022,09:29:08
8,BA.SABADELL,"0,8412","-0,05","0,8500","0,8390",1.741.257,"1.467,58",31/05/2022,09:28:52
9,BANKINTER,"5,9620","-0,10","5,9880","5,9360",158.504,"944,26",31/05/2022,09:29:02
10,BBVA,"5,1120","-0,68","5,1600","5,0960",815.605,"4.182,16",31/05/2022,09:28:44
11,CAIXABANK,"3,3810","-0,65","3,3950","3,3670",1.272.587,"4.304,89",31/05/2022,09:28:57
12,CELLNEX,"41,9500","-0,78","42,4900","41,8700",184.503,"7.771,86",31/05/2022,09:29:05
13,CIE AUTOMOT.,"23,3200","-1,10","23,4000","23,1800",12.422,"289,03",31/05/2022,09:26:16
14,ENAGAS,"21,4300","-0,23","21,5200","21,3600",46.087,"987,57",31/05/2022,09:27:09
15,ENDESA,"20,7500","-0,14","20,9000","20,6800",42.963,"891,51",31/05/2022,09:28:35
16,FERROVIAL,"24,0900","-1,03","24,2700","24,0000",41.752,"1.006,44",31/05/2022,09:26:15
17,FLUIDRA,"24,8600","-1,19","25,1000","24,7400",40.140,"1.000,20",31/05/2022,09:28:19
18,GRIFOLS CL.A,"19,5350","-0,33","19,7200","19,5300",38.928,"763,36",31/05/2022,09:28:58
19,IAG,"1,5325","-3,53","1,5635","1,5200",7.222.907,"11.112,03",31/05/2022,09:28:55
20,IBERDROLA,"11,0900","-0,18","11,1300","11,0600",307.395,"3.409,18",31/05/2022,09:29:05
21,INDITEX,"22,5000","0,04","22,5100","22,3000",128.182,"2.875,31",31/05/2022,09:27:50
22,INDRA A,"10,1900","-0,59","10,2000","10,1500",16.192,"164,73",31/05/2022,09:27:04
23,INM.COLONIAL,"7,6150","-2,18","7,7000","7,6000",46.019,"352,38",31/05/2022,09:27:45
24,MAPFRE,"1,7470","-0,34","1,7570","1,7420",608.852,"1.064,85",31/05/2022,09:28:00
25,MELIA HOTELS,"7,4500","0,00","7,4650","7,4050",53.165,"395,36",31/05/2022,09:29:00
26,MERLIN,"10,5100","-1,22","10,6400","10,4900",32.207,"339,68",31/05/2022,09:27:58
27,NATURGY,"28,0300","-1,30","28,3500","27,9400",37.889,"1.064,92",31/05/2022,09:28:16
28,PHARMA MAR,"72,5800","0,30","72,5800","72,0000",6.021,"435,65",31/05/2022,09:28:30
29,R.E.C.,"19,1450","-0,23","19,2450","19,0750",56.315,"1.078,15",31/05/2022,09:29:12
30,REPSOL,"15,2800","2,93","15,3000","14,9400",1.269.639,"19.239,71",31/05/2022,09:29:06
31,ROVI,"61,4500","-0,97","62,0000","61,4500",2.720,"168,13",31/05/2022,09:28:04
32,SIEMENS GAME,"17,9450","0,25","17,9600","17,8800",414.184,"7.425,84",31/05/2022,09:29:11
33,SOLARIA,"21,6000","-1,64","22,2700","21,2200",172.932,"3.752,31",31/05/2022,09:29:00
34,TELEFONICA,"4,9840","0,63","4,9920","4,9500",1.196.808,"5.948,05",31/05/2022,09:29:07

In [33]:
df.to_csv("precios_sesion_bf.csv", index = False)

We have saved the created dataframe into a csv file so that we can access it easily. Now we will do similarly using the Selenium library.

In [ ]:
# https://www.scrapingbee.com/blog/web-scraping-101-with-python/#4-web-crawling-frameworks
# https://www.scrapingbee.com/blog/web-scraping-with-scrapy/
# https://www.scrapingbee.com/blog/selenium-python/

In [7]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

#the path where chromedriver is
driver_path = "D:/users/ciberintegra_03/chromedriver_win32/chromedriver"

#setting up the chrome driver so it doesn't visibly open a window
options = Options()
options.headless = True

#read url
driver = webdriver.Chrome(options = options, executable_path = driver_path)
driver.get("https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  # Remove the CWD from sys.path while we load stuff.

In [11]:
from selenium.webdriver.common.by import By

#get the table to scrape
table = driver.find_element(By.ID, "ctl00_Contenido_tblAcciones")

In [14]:
results = []

#get the content
for i in table.find_elements(By.TAG_NAME, "td"):
    results.append(i.text)

In [16]:
#create a dictionary
dicc = {}

#skip every 9 items to separate the different data values
#using the same column name as with BeautifulSoup
for i in range(9):
    dicc[columns[i]] = results[i::9]

In [19]:
#create a dataframe from the dictionary
df2 = pd.DataFrame(data = dicc)
df2

,Name,Last,% Diff,Max,Min,Volum,Cash,Date,Time
0,ACCIONA,"187,7000","4,57","188,1000","183,1000",199.330,"36.650,10",01/06/2022,12:19:35
1,ACERINOX,"12,0350","-0,25","12,2900","11,9150",911.697,"11.061,11",01/06/2022,12:15:01
2,ACS,"26,5000","0,38","26,8400","26,4700",130.203,"3.473,50",01/06/2022,12:19:06
3,AENA,"141,9500","-0,14","144,6500","141,9500",20.217,"2.886,76",01/06/2022,12:12:15
4,ALMIRALL,"10,4300","0,68","10,4900","10,3800",87.577,"914,25",01/06/2022,12:18:21
5,AMADEUS,"57,5000","-0,59","58,4800","57,4800",151.740,"8.808,56",01/06/2022,12:18:27
6,ARCELORMIT.,"29,4550","-1,75","30,2850","29,2450",173.968,"5.168,24",01/06/2022,12:17:05
7,B.SANTANDER,"3,0210","0,22","3,0585","3,0195",4.764.177,"14.452,70",01/06/2022,12:19:24
8,BA.SABADELL,"0,8380","0,60","0,8494","0,8368",8.113.274,"6.846,74",01/06/2022,12:19:24
9,BANKINTER,"5,9340","0,27","6,0000","5,9280",3.342.838,"19.968,91",01/06/2022,12:19:10
10,BBVA,"5,0890","0,20","5,1390","5,0820",1.817.173,"9.286,50",01/06/2022,12:19:24
11,CAIXABANK,"3,4120","1,31","3,4320","3,3850",4.685.006,"15.981,63",01/06/2022,12:19:21
12,CELLNEX,"41,4400","-1,40","42,2500","41,1700",160.362,"6.684,08",01/06/2022,12:19:18
13,CIE AUTOMOT.,"24,1800","1,60","24,3000","23,7200",86.127,"2.078,65",01/06/2022,12:09:53
14,ENAGAS,"21,4800","0,80","21,7200","21,4100",112.521,"2.423,68",01/06/2022,12:19:02
15,ENDESA,"20,5900","-0,19","20,9600","20,5500",147.210,"3.047,58",01/06/2022,12:19:07
16,FERROVIAL,"24,0200","0,04","24,2700","23,8800",114.807,"2.761,10",01/06/2022,12:19:40
17,FLUIDRA,"24,5600","-0,32","24,7600","24,4200",215.118,"5.300,91",01/06/2022,12:14:53
18,GRIFOLS CL.A,"19,5900","0,00","19,7500","19,3200",237.241,"4.633,28",01/06/2022,12:19:44
19,IAG,"1,5085","-0,13","1,5310","1,5015",5.733.362,"8.679,63",01/06/2022,12:19:16
20,IBERDROLA,"10,9350","-0,91","11,1150","10,9100",10.319.793,"113.759,92",01/06/2022,12:19:34
21,INDITEX,"22,5000","0,49","22,8200","22,4800",781.735,"17.681,72",01/06/2022,12:19:12
22,INDRA A,"10,2300","0,89","10,2800","10,1700",689.622,"7.038,01",01/06/2022,12:10:20
23,INM.COLONIAL,"7,6350","-0,13","7,7300","7,6350",131.494,"1.009,73",01/06/2022,12:13:15
24,MAPFRE,"1,7450","0,98","1,7520","1,7300",854.599,"1.490,51",01/06/2022,12:19:00
25,MELIA HOTELS,"7,5150","1,08","7,5900","7,4800",115.344,"868,70",01/06/2022,12:19:37
26,MERLIN,"10,5200","-0,09","10,6800","10,5200",188.366,"2.000,96",01/06/2022,12:16:45
27,NATURGY,"27,8200","-1,14","28,4600","27,6300",71.242,"1.993,96",01/06/2022,12:19:28
28,PHARMA MAR,"72,0000","-0,41","73,1400","71,7800",11.383,"822,75",01/06/2022,12:19:13
29,R.E.C.,"19,1900","-0,52","19,4650","19,1600",496.194,"9.623,27",01/06/2022,12:18:37
30,REPSOL,"15,0100","0,10","15,1900","14,9350",2.196.727,"33.038,31",01/06/2022,12:19:49
31,ROVI,"61,8500","-0,88","62,6500","61,1000",18.139,"1.121,19",01/06/2022,12:03:55
32,SIEMENS GAME,"17,9900","0,17","18,0700","17,9400",1.774.787,"31.889,50",01/06/2022,12:19:50
33,SOLARIA,"21,6400","-0,18","21,7600","20,9600",313.554,"6.659,55",01/06/2022,12:19:38
34,TELEFONICA,"4,8040","-2,00","4,8980","4,8040",6.134.266,"29.691,36",01/06/2022,12:19:41

In [21]:
df2.to_csv("precios_sesion_se.csv", index = False)

In [22]:
driver.close()

We have saved the dataframe into a csv file too so that we can access it at a later time.

# Exercici 2

Documenta el teu conjunt de dades generat amb la informaci√≥ que tenen els diferents arxius de Kaggle.

Document your dataset with the type of information on Kaggle datasets.

This dataset has been put together using the web scraping tools BeautifulSoup and Selenium, from the Bolsa de Madrid (Madrid Stock Exchange) webpage, bolsademadrid.es. It gathers stock variation of the top 35 Spanish corporations on a given day. This is known as Ibex 35, and it is the benchmark stock market index of the Bolsa de Madrid. 

These are the nine variables the dataset contains:
* Name - the name of the company
* Last - the last price recorded of a single stock
* % Diff - the percentage of difference from openning
* Max - maximum price recorded that day of a single stock
* Min - minimum price recorded that day of a single stock
* Volum - the number of shares that have been traded in that stock exchange session, 
* Cash - market value of a security
* Date - the date of the session
* Time - the time when the data was last updated